@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #232323;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.block {
    max-width: 43.75rem ;
    min-height: 20.75rem;
    background: #1d3557;
    box-shadow: 0.125rem 0.8125rem 2.6875rem -1.1875rem rgba(0,0,0,0.75);
    border-radius: 0.3125rem;
    padding: 1.25rem;
}
h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.divisas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.25rem;
}

@media screen and ( max-width: 400px ){
    .divisas {
        flex-direction: column;
        align-items: stretch;
    }
    main {
        margin: 0 20px;
    }
    .btn,select,option {
        width: 100%;
    }
}
.crypto,
.fiat {
    display: flex;
    flex-direction: column;
}

.btn {
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
    border: 0;
    margin-top: 20px;
}

.secundario {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.secundario:focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.terceario {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

label {
    font-family: 'poppins', sans-serif;
    color: white;
    font-family: 1.25rem;
    margin: 0.3125rem 0;
}

select {
    border: 0;
    height: 1.875rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#resultado {
    transition: all .3s ease-out;
}

.notificacion {
    border-radius: 0.625rem;
    max-width: 24.3rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.25rem auto;
    box-shadow: 0.125rem 0.8125rem 2.6875rem -1.1875rem rgba(0,0,0,0.75);

}

.notificacion p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}